body{
  background-image: linear-gradient(to right, #870876, #6411a7);
color: #fdfafa;
display: flex;
justify-content: center;
}

#container{
 display: flex;
 width:100vw ;
 height: auto;
 background: black;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

img{
    width: 10vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 20px;
}

.model{
    width: 95vw;
    height: 30vh;
    border: 5px solid #00000000 ;
    display: flex;
    flex-direction: row;
    background: black;
}

#fim{
    width: 90vw;
    height: 5vh;
    margin: 15px;
}