body{
  background-image: linear-gradient(to right, #870876, #6411a7);
width: 100vw;
height: 100vh;
color: #fdfafa;
display: flex;
justify-content: center;
  
}

.Cadastcontainer{
 display: flex;
 width: 80vw;
 height: 90vh;
 flex-direction: column;
 border: 5px solid black;
 justify-content: center;
}

img{
    width: 10vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 20px;
}

.model{
    width: 80vw;
    height: 30vh;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    background: black;
}